fastapi
uvicorn
langchain
langchain-community
openai
pypdf
fitz
python-multipart
docker
tools
streamlit
pymupdf
sentence-transformers 
transformers
hugging_face
#huggingface_hub
faiss-gpu
langchain-huggingface
